<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>All about Contacts</title>

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../public/js/home_auth.js"></script>
    <script type="text/javascript" src="../public/js/info_log.js"></script>
  </head>

  <body onload="loadPage()">
    <!-- 홈 화면 -->
    <div data-role="page" id="home">
      <div data-role="panel" id="signin" data-display="overlay" data-theme="b">
        <form>
          <br/><br/><br/><br/>
          <h3><center>로그인</center></h3>
          <br/>
          <label for="name">아이디</label>
          <input name="name" id="name" type="text" value="" data-mini="true" data-clear-btn="true">
          <label for="password">비밀번호</label>
          <input name="password" id="password" type="password" value="" data-mini="true" data-clear-btn="true">
          <br/>
          <a href="#" data-role="button" onclick="signIn()">로그인</a>
          <a href="#signup" data-role="button">회원가입</a>
          <a href="#" data-role="button" data-rel="close">취소하기</a>
        </form>
      </div>
      <div data-role="panel" id="signup" data-display="overlay" data-theme="b" data-position="right">
        <form>
          <br/><br/><br/><br/>
          <h3>회원가입</h3>
          <br/>
          <label for="id">아이디</label>
          <input name="id" id="id" type="text" value="" data-mini="true" data-clear-btn="true">
          <label for="pwd">비밀번호</label>
          <input name="pwd" id="pwd" type="password" value="" data-mini="true" data-clear-btn="true">
          <br/>
          <a href="#" data-role="button" onclick="signUp()">회원가입</a>
          <a href="#" data-role="button" data-rel="close">취소하기</a>
        </form>
      </div>

      <div data-role="header" style="background-color: #d8f5a2;">
        <a href="#signin" data-role="button" data-inline="true">
          <img src="../public/img/menu-line.png" alt="로그인" style="width: 1.3em; height: 1.3em;">
        </a>
        <h1 style="font-size: large;"><b>렌즈의 모든 것</b></h1>
      </div>
      <br/><br/><br/><br/>
      <div data-role="content">
        <div class="container"> 
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="../public/img/acuve_oasis.jpg" alt="아큐브 오아시스" style="width:70%; margin: auto;">
              </div>
        
              <div class="item">
                <img src="../public/img/acuve_define.jpg" alt="아큐브 디파인" style="width:70%; margin: auto;">
              </div>
            
              <div class="item">
                <img src="../public/img/bausch_lomb_ultra.jpg" alt="바슈롬 울트라" style="width:70%; margin: auto;">
              </div>
            </div>
        
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <br/><br/><br/><br/>
        <div>
          <ul data-role="listview" data-inset="true">
            <li><a href="#shop">근처 판매처 검색</a></li>
            <li><a href="#event">이벤트 확인</a></li>
            <li><a href="#info">콘택트렌즈 A to Z</a></li>
          </ul>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>

    <!-- 근처 판매처 검색 화면: 전체 리스트 내용 -->
    <div data-role="page" id="shop">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="./all_about_contacts.html" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>근처 판매처 검색</b></h1>
      </div>
      <div data-role="content">
        <br/>
        <h2><b style="background-color: #d8f5a2;">&nbsp;근처 판매처 검색&nbsp;</b></h2>
        <br/>
        <ul data-role="listview" data-filter="true" data-filter-placeholder="지역명 또는 가게명을 입력해주세요!">
          <br/>
          <li data-role="listdivider">강원</li>
          <li><a href="#gangwon1">오렌즈 강릉점</a></li>
          <li><a href="#gangwon2">오렌즈 속초점</a></li>
          <li data-role="listdivider">경기</li>
          <li><a href="#gyeonggi1">우리동네안경원 분당점</a></li>
          <li><a href="#gyeonggi2">우리동네안경원 일산점</a></li>
          <li data-role="listdivider">경상</li>
          <li><a href="#gyeongsang1">다비치안경 포항중앙점</a></li>
          <li data-role="listdivider">서울</li>
          <li><a href="#seoul1">글라스스토리 마곡나루역점</a></li>
          <li><a href="#seoul2">룩옵티컬 홍대점</a></li>
          <li data-role="listdivider">전라</li>
          <li><a href="#jeolla1">안경나라 광주진월점</a></li>
          <li data-role="listdivider">제주</li>
          <li><a href="#jeju1">다비치안경 제주삼화점</a></li>
          <li data-role="listdivider">충청</li>
          <li><a href="#chungcheong1">이안경원 은행점</a></li>
        </ul>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
          <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>

    <!-- 근처 판매처 검색 화면: 각 리스트 상세 내용 -->
    <div data-role="page" id="gyeonggi1">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="#shop" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>우리동네안경원 분당점</b></h1>
      </div>
      <div data-role="content">
        <figure>
          <a href="https://place.map.kakao.com/406513728">
            <center><img src="../public/img/gyeonggi1.PNG" style="max-width: 100%; height: auto; margin-top: 5%; margin-bottom: 0.5%;"></center>
          </a>
          <center><figcaption style="color: gray; margin-bottom: 5%;">이미지를 클릭하면 카카오맵으로 연결됩니다!</figcaption></center>
        </figure>
        <div class="ui-body ui-body-a">
          <h4><b>우리동네안경원 분당점</b></h4>
          <p style="margin-top: 1.5%;">
            <div style="margin-bottom: 1%;">
              <img src="../public/img/map-pin-2-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;경기 성남시 분당구 중앙공원로39번길 49 117호
            </div>
            <div style="margin-bottom: 1%;">
              <img src="../public/img/global-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;<a href="https://pf.kakao.com/_PKaFj">공식 채널</a>
            </div>
            <div>
              <img src="../public/img/phone-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;070-4143-1002
            </div>
          </p>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>
    <div data-role="page" id="gyeonggi2">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="#shop" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>우리동네안경원 일산점</b></h1>
      </div>
      <div data-role="content">
        <figure>
          <a href="https://place.map.kakao.com/1763378087">
            <center><img src="../public/img/gyeonggi2.PNG" style="max-width: 100%; height: auto; margin-top: 5%; margin-bottom: 0.5%;"></center>
          </a>
          <center><figcaption style="color: gray; margin-bottom: 5%;">이미지를 클릭하면 카카오맵으로 연결됩니다!</figcaption></center>
        </figure>
        <div class="ui-body ui-body-a">
          <h4><b>우리동네안경원 일산점</b></h4>
          <p style="margin-top: 1.5%;">
            <div style="margin-bottom: 1%;">
              <img src="../public/img/map-pin-2-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;경기 고양시 일산동구 정발산로 43-20 2층
            </div>
            <div style="margin-bottom: 1%;">
              <img src="../public/img/global-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;<a href="https://blog.naver.com/okoptic">공식 채널</a>
            </div>
            <div>
              <img src="../public/img/phone-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;031-902-1932
            </div>
          </p>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>
    <div data-role="page" id="gangwon1">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="#shop" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>오렌즈 강릉점</b></h1>
      </div>
      <div data-role="content">
        <figure>
          <a href="https://place.map.kakao.com/20304757">
            <center><img src="../public/img/gangwon1.PNG" style="max-width: 100%; height: auto; margin-top: 5%; margin-bottom: 0.5%;"></center>
          </a>
          <center><figcaption style="color: gray; margin-bottom: 5%;">이미지를 클릭하면 카카오맵으로 연결됩니다!</figcaption></center>
        </figure>
        <div class="ui-body ui-body-a">
          <h4><b>오렌즈 강릉점</b></h4>
          <p style="margin-top: 1.5%;">
            <div style="margin-bottom: 1%;">
              <img src="../public/img/map-pin-2-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;강원 강릉시 대학길 9
            </div>
            <div style="margin-bottom: 1%;">
              <img src="../public/img/global-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;<a href="https://www.o-lens.com/">공식 채널</a>
            </div>
            <div>
              <img src="../public/img/phone-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;033-643-6019
            </div>
          </p>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>
    <div data-role="page" id="gangwon2">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="#shop" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>오렌즈 속초점</b></h1>
      </div>
      <div data-role="content">
        <figure>
          <a href="https://place.map.kakao.com/21168126">
            <center><img src="../public/img/gangwon2.PNG" style="max-width: 100%; height: auto; margin-top: 5%; margin-bottom: 0.5%;"></center>
          </a>
          <center><figcaption style="color: gray; margin-bottom: 5%;">이미지를 클릭하면 카카오맵으로 연결됩니다!</figcaption></center>
        </figure>
        <div class="ui-body ui-body-a">
          <h4><b>오렌즈 속초점</b></h4>
          <p style="margin-top: 1.5%;">
            <div style="margin-bottom: 1%;">
              <img src="../public/img/map-pin-2-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;강원 속초시 중앙로 69
            </div>
            <div style="margin-bottom: 1%;">
              <img src="../public/img/global-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;<a href="https://www.o-lens.com/">공식 채널</a>
            </div>
            <div>
              <img src="../public/img/phone-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;033-636-1001
            </div>
          </p>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>
    <div data-role="page" id="gyeongsang1">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="#shop" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>다비치안경 포항중앙점</b></h1>
      </div>
      <div data-role="content">
        <figure>
          <a href="https://place.map.kakao.com/25977465">
            <center><img src="../public/img/gyeongsang1.PNG" style="max-width: 100%; height: auto; margin-top: 5%; margin-bottom: 0.5%;"></center>
          </a>
          <center><figcaption style="color: gray; margin-bottom: 5%;">이미지를 클릭하면 카카오맵으로 연결됩니다!</figcaption></center>
        </figure>
        <div class="ui-body ui-body-a">
          <h4><b>다비치안경 포항중앙점</b></h4>
          <p style="margin-top: 1.5%;">
            <div style="margin-bottom: 1%;">
              <img src="../public/img/map-pin-2-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;경북 포항시 북구 중앙로 275-1
            </div>
            <div style="margin-bottom: 1%;">
              <img src="../public/img/global-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;<a href="https://blog.naver.com/vtcenter">공식 채널</a>
            </div>
            <div>
              <img src="../public/img/phone-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;054-242-1199
            </div>
          </p>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>
    <div data-role="page" id="seoul1">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="#shop" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>글라스스토리 마곡나루역점</b></h1>
      </div>
      <div data-role="content">
        <figure>
          <a href="https://place.map.kakao.com/762145938">
            <center><img src="../public/img/seoul1.PNG" style="max-width: 100%; height: auto; margin-top: 5%; margin-bottom: 0.5%;"></center>
          </a>
          <center><figcaption style="color: gray; margin-bottom: 5%;">이미지를 클릭하면 카카오맵으로 연결됩니다!</figcaption></center>
        </figure>
        <div class="ui-body ui-body-a">
          <h4><b>글라스스토리 마곡나루역점</b></h4>
          <p style="margin-top: 1.5%;">
            <div style="margin-bottom: 1%;">
              <img src="../public/img/map-pin-2-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;서울 강서구 마곡중앙로 161-17
            </div>
            <div style="margin-bottom: 1%;">
              <img src="../public/img/global-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;<a href="https://www.iglassstory.com/">공식 채널</a>
            </div>
            <div>
              <img src="../public/img/phone-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;02-3661-1004
            </div>
          </p>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>
    <div data-role="page" id="seoul2">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="#shop" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>룩옵티컬 홍대점</b></h1>
      </div>
      <div data-role="content">
        <figure>
          <a href="https://place.map.kakao.com/291796671">
            <center><img src="../public/img/seoul2.PNG" style="max-width: 100%; height: auto; margin-top: 5%; margin-bottom: 0.5%;"></center>
          </a>
          <center><figcaption style="color: gray; margin-bottom: 5%;">이미지를 클릭하면 카카오맵으로 연결됩니다!</figcaption></center>
        </figure>
        <div class="ui-body ui-body-a">
          <h4><b>룩옵티컬 홍대점</b></h4>
          <p style="margin-top: 1.5%;">
            <div style="margin-bottom: 1%;">
              <img src="../public/img/map-pin-2-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;서울 마포구 양화로 140 1층 15~16호
            </div>
            <div style="margin-bottom: 1%;">
              <img src="../public/img/global-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;<a href="http://www.lookoptical.co.kr/">공식 채널</a>
            </div>
            <div>
              <img src="../public/img/phone-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;02-338-8690
            </div>
          </p>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>
    <div data-role="page" id="jeolla1">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="#shop" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>안경나라 광주진월점</b></h1>
      </div>
      <div data-role="content">
        <figure>
          <a href="https://place.map.kakao.com/11301791">
            <center><img src="../public/img/jeolla1.PNG" style="max-width: 100%; height: auto; margin-top: 5%; margin-bottom: 0.5%;"></center>
          </a>
          <center><figcaption style="color: gray; margin-bottom: 5%;">이미지를 클릭하면 카카오맵으로 연결됩니다!</figcaption></center>
        </figure>
        <div class="ui-body ui-body-a">
          <h4><b>안경나라 광주진월점</b></h4>
          <p style="margin-top: 1.5%;">
            <div style="margin-bottom: 1%;">
              <img src="../public/img/map-pin-2-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;광주 남구 서문대로 662
            </div>
            <div style="margin-bottom: 1%;">
              <img src="../public/img/global-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;<a href="http://aknara.co.kr/">공식 채널</a>
            </div>
            <div>
              <img src="../public/img/phone-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;062-671-5700
            </div>
          </p>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>
    <div data-role="page" id="jeju1">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="#shop" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>다비치안경 제주삼화점</b></h1>
      </div>
      <div data-role="content">
        <figure>
          <a href="https://place.map.kakao.com/1323448104">
            <center><img src="../public/img/jeju1.PNG" style="max-width: 100%; height: auto; margin-top: 5%; margin-bottom: 0.5%;"></center>
          </a>
          <center><figcaption style="color: gray; margin-bottom: 5%;">이미지를 클릭하면 카카오맵으로 연결됩니다!</figcaption></center>
        </figure>
        <div class="ui-body ui-body-a">
          <h4><b>다비치안경 제주삼화점</b></h4>
          <p style="margin-top: 1.5%;">
            <div style="margin-bottom: 1%;">
              <img src="../public/img/map-pin-2-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;제주특별자치도 제주시 화삼북로 68
            </div>
            <div style="margin-bottom: 1%;">
              <img src="../public/img/global-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;<a href="https://www.davich.com/main/main.php">공식 채널</a>
            </div>
            <div>
              <img src="../public/img/phone-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;064-751-3588
            </div>
          </p>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>
    <div data-role="page" id="chungcheong1">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="#shop" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>이안경원 은행점</b></h1>
      </div>
      <div data-role="content">
        <figure>
          <a href="https://place.map.kakao.com/8530304">
            <center><img src="../public/img/chungcheong1.PNG" style="max-width: 100%; height: auto; margin-top: 5%; margin-bottom: 0.5%;"></center>
          </a>
          <center><figcaption style="color: gray; margin-bottom: 5%;">이미지를 클릭하면 카카오맵으로 연결됩니다!</figcaption></center>
        </figure>
        <div class="ui-body ui-body-a">
          <h4><b>이안경원 은행점</b></h4>
          <p style="margin-top: 1.5%;">
            <div style="margin-bottom: 1%;">
              <img src="../public/img/map-pin-2-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;대전 중구 중앙로 164
            </div>
            <div style="margin-bottom: 1%;">
              <img src="../public/img/global-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;<a href="http://www.leeoptical.co.kr/default/">공식 채널</a>
            </div>
            <div>
              <img src="../public/img/phone-line.png" style="width: 1.4em; height: 1.4em; margin-bottom: 0.3%;">
              &nbsp;042-252-8989
            </div>
          </p>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>

    <!-- 이벤트 확인 화면 -->
    <div data-role="page" id="event">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="./all_about_contacts.html" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>이벤트 확인</b></h1>
      </div>
      <div data-role="content">
          <div data-role="tabs">
              <div data-role="navbar">
                  <ul>
                      <li><a href="#on">진행중인 이벤트</a></li>
                      <li><a href="#off">종료된 이벤트</a></li>
                  </ul>
              </div>
              <div id="on">
                  <br/>
                  <h2><b style="background-color: #d8f5a2;">&nbsp;진행중인 이벤트&nbsp;</b></h2>
                  <br/>
                  <div data-role="collapsible-set">
                    <div data-role="collapsible">
                        <h3>[렌즈미] '하나 구매하면 하나 더' 투명 원데이 1+1 EVENT</h3>
                        <p>
                          <h5><b>'하나 구매하면 하나 더' 투명 원데이 1+1 EVENT</b></h5>
                          ● &nbsp;바슈롬 원데이 트루핏 클리어 구매 시 1팩 추가 증정<br/>
                          ● &nbsp;클라렌 원데이 프리덤 380 구매 시 1팩 추가 증정<br/><br/>
                          <a href="http://lens-me.com/article/%EC%9D%B4%EB%B2%A4%ED%8A%B8/16/89070/page/1/">자세한 내용</a>
                        </p>
                    </div>
                    <div data-role="collapsible">
                        <h3>[렌즈미] 즐거움이 더블, 한달용 먼슬리 병렌즈 1+1</h3>
                        <p>
                          <h5><b>즐거움이 더블, 한달용 먼슬리 병렌즈 1+1</b></h5>
                          ● &nbsp;샤인앰플 시리즈 11종 중 1+1 &#8361;20,000<br/>
                          ● &nbsp;실크앰플 시리즈 10종 중 1+1 &#8361;15,000<br/>
                          ● &nbsp;워터앰플 시리즈 9종 중 1+1 &#8361;10,000<br/><br/>
                          ● &nbsp;동일 시리즈 제품 내 색상/도수 교차 가능<br/>
                          ● &nbsp;단숨 변심으로 인한 교환 및 환불 불가<br/>
                          ● &nbsp;타 프로모션과 중복 적용 불가<br/><br/>
                          <a href="http://lens-me.com/article/%EC%9D%B4%EB%B2%A4%ED%8A%B8/16/87985/page/2/">자세한 내용</a>
                        </p>
                    </div>
                    <div data-role="collapsible">
                        <h3>[오렌즈] 오렌즈 블프데이! 베스트 한달용 20% OFF</h3>
                        <p>
                          <h5><b>오렌즈 블프데이! 베스트 한달용 20% OFF</b></h5>
                          ● &nbsp;스칸디(SCANDI) 1+1 &#8361;<del>25,000</del> 20,000<br/>
                          ● &nbsp;스페니쉬 써클(Spanish circle) 1+1 &#8361;<del>20,000</del> 16,000<br/>
                          ● &nbsp;아이틴(EYETEEN) 1+1 &#8361;<del>15,000</del> 12,000<br/><br/>
                          ● &nbsp;행사 품목 내 가격/색상/도수 교차 가능<br/>
                          ● &nbsp;행사제품 교환 및 환불 불가<br/>
                          ● &nbsp;타 할인 이벤트와 중복 적용 불가<br/><br/>
                          <a href="https://o-lens.com/board/event/read.html?no=218206&board_no=20">자세한 내용</a>
                        </p>
                    </div>
                    <div data-role="collapsible">
                      <h3>[오렌즈] 오렌즈 블프데이! 원데이 최대 7,000원 할인</h3>
                      <p>
                        <h5><b>오렌즈 블프데이! 원데이 최대 7,000원 할인</b></h5>
                        ● &nbsp;퍼스콘 원데이 10P &#8361;<del>36,000</del> 29,000<br/>
                        ● &nbsp;오투에디션 1팩 구매 시 1팩 반값! &#8361;<del>80,000</del> 43,500<br/>
                        ● &nbsp;오투에디션 12,000원 추가 시 1팩 더 증정! &#8361;<del>120,000</del> 55,500<br/><br/>
                        ● &nbsp;행사 품목 내 가격/색상/도수 교차 가능<br/>
                        ● &nbsp;행사제품 교환 및 환불 불가<br/>
                        ● &nbsp;타 할인 이벤트와 중복 적용 불가<br/><br/>
                        <a href="https://o-lens.com/board/event/read.html?no=218207&board_no=20">자세한 내용</a>
                      </p>
                    </div>
                  </div>
              </div>
              <div id="off">
                  <br/>
                  <h2><b style="background-color: #d8f5a2;">&nbsp;종료된 이벤트&nbsp;</b></h2>
                  <br/>
                  <div data-role="collapsible-set">
                    <div data-role="collapsible">
                        <h3>[렌즈미] 한팩 구매시 한팩 더 드려요, 팩앤팩 1+1 EVENT</h3>
                        <p>
                          <h5><b>한팩 구매시 한팩 더 드려요, 팩앤팩 1+1 EVENT</b></h5>
                          ● &nbsp;퍼스핏 에어 클리어, 메가룩 위닌, 메가룩 펄인 등 16종 중 마음대로 2팩 &#8361;25,000<br/>
                          ● &nbsp;홀로리스, 칵테일 문라잇, 칵테일 라군 등 50종 중 마음대로 2팩 &#8361;20,000<br/>
                          ● &nbsp;벨벳팝, 핑크팬더, 아이블랑 틴트 등 16종 중 마음대로 2팩 &#8361;10,000<br/>
                          ● &nbsp;아트릭76, 모네76, 제니비76 등 6종 중 마음대로 2팩 &#8361;10,000<br/><br/>
                          <a href="http://lens-me.com/article/%EC%9D%B4%EB%B2%A4%ED%8A%B8/16/68461/page/6/">자세한 내용</a>
                        </p>
                    </div>
                    <div data-role="collapsible">
                        <h3>[렌즈미] 렌즈미에서 만나는 클라렌 특가 EVENT</h3>
                        <p>
                          <h5><b>렌즈미에서 만나는 클라렌 특가 EVENT</b></h5>
                          ● &nbsp;클라렌 아이리스 수지 시리즈 2종 &#8361;<del>40,000</del> 28,000<br/>
                          ● &nbsp;클라렌 아이리스 시리즈 4종 &#8361;<del>40,000</del> 28,000<br/>
                          ● &nbsp;클라렌 아이리스 알리샤브라운 &#8361;<del>40,000</del> 28,000<br/>
                          ● &nbsp;클라렌 아이리스 블루문 &#8361;<del>40,000</del> 28,000<br/><br/>
                          <a href="http://lens-me.com/article/%EC%9D%B4%EB%B2%A4%ED%8A%B8/16/77680/page/4/">자세한 내용</a>
                        </p>
                    </div>
                    <div data-role="collapsible">
                      <h3>[렌즈미] 2020년 HAPPY NEW YEAR SALE 병렌즈 + 팩렌즈 74종 최대 50% 빅 세일 !</h3>
                      <p>
                        <h5><b>2020년 HAPPY NEW YEAR SALE 병렌즈 + 팩렌즈 74종 최대 50% 빅 세일 !</b></h5>
                        ● &nbsp;홀로리스 8종 5,000원 할인 + 한 팩 더! &#8361;15,000<br/>
                        ● &nbsp;병렌즈 17종 중 마음대로 한 쌍! &#8361;30,000<br/>
                        ● &nbsp;병렌즈 17종 중 마음대로 한 쌍! &#8361;20,000<br/>
                        ● &nbsp;병렌즈 32종 중 마음대로 한 쌍! &#8361;10,000<br/><br/>
                        ● &nbsp;동일 시리즈 제품 내 색상/도수 교차 가능<br/>
                        ● &nbsp;타 프로모션과 중복 적용 불가<br/>
                        ● &nbsp;재고 수량 소진 시 조기 종료 가능<br/><br/>
                        <a href="http://lens-me.com/article/%EC%9D%B4%EB%B2%A4%ED%8A%B8/16/84721/page/2/">자세한 내용</a>
                      </p>
                  </div>
                  <div data-role="collapsible">
                      <h3>[렌즈미] 가을 맞이 미페스타 1+1+추가할인 EVENT!</h3>
                      <p>
                        <h5><b>가을 맞이 미페스타 1+1+추가할인 EVENT!</b></h5>
                        ● &nbsp;실크앰플 8종 1+1 &#8361;<del>15,000</del> 10,000<br/>
                        ● &nbsp;컬러앰플 6종 원데이 1+1 &#8361;15,000<br/><br/>
                        ● &nbsp;포인트 사용 불가<br/>
                        ● &nbsp;타 프로모션과 중복 적용 불가<br/>
                        ● &nbsp;재고 수량 소진 시 조기 종료 가능<br/><br/>
                        <a href="http://lens-me.com/article/%EC%9D%B4%EB%B2%A4%ED%8A%B8/16/90516/">자세한 내용</a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>

    <!-- 콘택트렌즈 A to Z 화면 -->
    <div data-role="page" id="info">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="./all_about_contacts.html" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>콘택트렌즈 A to Z</b></h1>
      </div>
      <div data-role="content">
          <div data-role="tabs">
              <div data-role="navbar">
                  <ul>
                      <li><a href="#record">교체시기 기록</a></li>
                      <li><a href="#check">교체시기 확인</a></li>
                      <li><a href="#faq">자주하는 질문</a></li>
                  </ul>
              </div>
              <div id="record">
                  <br/>
                  <h2><b style="background-color: #d8f5a2;">&nbsp;교체시기 기록&nbsp;</b></h2>
                  <br/>
                  <fieldset data-role="controlgroup">
                      <legend><b>콘택트렌즈 제품</b></legend>
                      <input type="text" name="con_product" placeholder="ex. 아큐브 오아시스 원데이">
                  </fieldset>
                  <br/>
                  <fieldset data-role="controlgroup" data-type="horizontal">
                      <legend><b>콘택트렌즈 종류</b></legend>
                      <input type="radio" name="con_type" id="transparent" value="투명렌즈">
                      <label for="transparent">투명렌즈</label>
                      <input type="radio" name="con_type" id="colour" value="컬러렌즈">
                      <label for="colour">컬러렌즈</label>
                      <input type="radio" name="con_type" id="dream" value="드림렌즈">
                      <label for="dream">드림렌즈</label>
                  </fieldset>
                  <br/>
                  <fieldset data-role="controlgroup">
                      <legend><b>시력교정 종류</b></legend>
                      <select name="opt_type" data-role="slider">
                        <option value="근시">근시</option>
                        <option value="난시">난시</option>
                      </select>
                  </fieldset>
                  <br/>
                  <fieldset data-role="controlgroup">
                      <legend><b>콘택트렌즈 도수</b></legend>
                      <input type="range" name="con_num" value="0" min="-20" max="20" step="0.05">
                  </fieldset>
                  <br/>
                  <fieldset data-role="controlgroup">
                      <legend><b>착용기간</b></legend>
                      <h5><b>시작</b></h5>
                      <input type="date" name="con_start">
                      <h5><b>종료</b></h5>
                      <input type="date" name="con_end">
                  </fieldset>
                  <br/>
                  <input type="button" data-role="button" value="기록하기" onclick="saveRecord()">
              </div>
              <div id="check">
                  <br/>
                  <h2><b style="background-color: #d8f5a2;">&nbsp;교체시기 확인&nbsp;</b></h2>
                  <br/>
                  <fieldset data-role="controlgroup">
                    <legend><b>콘택트렌즈 제품</b></legend>
                    <input type="text" name="con_product_chk" readonly>
                  </fieldset>
                  <br/>
                  <fieldset data-role="controlgroup">
                      <legend><b>콘택트렌즈 종류</b></legend>
                      <input type="text" name="con_type_chk" readonly>
                  </fieldset>
                  <br/>
                  <fieldset data-role="controlgroup">
                      <legend><b>시력교정 종류</b></legend>
                      <input type="text" name="opt_type_chk" readonly>
                  </fieldset>
                  <br/>
                  <fieldset data-role="controlgroup">
                      <legend><b>콘택트렌즈 도수</b></legend>
                      <input type="text" name="con_num_chk" readonly>
                  </fieldset>
                  <br/>
                  <fieldset data-role="controlgroup">
                      <legend><b>착용기간</b></legend>
                      <h5><b>시작</b></h5>
                      <input type="date" name="con_start_chk" readonly>
                      <h5><b>종료</b></h5>
                      <input type="date" name="con_end_chk" readonly>
                  </fieldset>
                  <br/>
                  <input type="button" data-role="button" value="확인하기" onclick="loadRecord()">
              </div>
              <div id="faq">
                  <br/>
                  <h2><b style="background-color: #d8f5a2;">&nbsp;자주하는 질문&nbsp;</b></h2>
                  <br/>
                  <div data-role="collapsible-set">
                    <div data-role="collapsible">
                        <h3>콘택트렌즈 관리는 어떻게 해야 할까?</h3>
                        <p>
                          <h5><b>Q. 콘택트렌즈 관리는 어떻게 해야 할까?</b></h5>
                          ● &nbsp;콘택트렌즈 착용 주기를 지킨다.<br/>
                          ● &nbsp;콘택트렌즈를 다른 사람과 함께 사용하지 않는다.<br/>
                          ● &nbsp;콘택트렌즈 관리용액은 항상 새로운 것으로 사용한다.<br/>
                          ● &nbsp;콘택트렌즈 케이스는 항상 청결하게 유지한다.<br/>
                          ● &nbsp;콘택트렌즈는 수면 시 무조건 빼야 한다.<br/>
                          ● &nbsp;콘택트렌즈 제품에 기재된 지시사항을 읽고 준수한다.<br/><br/>
                          <a href="https://coopervision.co.kr/about-contacts/contact-lens-care">자세한 내용</a>
                        </p>
                    </div>
                    <div data-role="collapsible">
                        <h3>콘택트렌즈는 10년만 낄 수 있을까?</h3>
                        <p>
                          <h5><b>Q. 콘택트렌즈는 10년만 착용할 수 있을까?</b></h5>
                          ● &nbsp;"콘택트렌즈를 10년밖에 착용하지 못한다."는 잘못된 문장이다.<br/>
                          ● &nbsp;콘택트렌즈를 착용할 때 산소 전달량이 높은 것을 선택하면 전 생애를 걸쳐 사용해도 무방하다.<br/>
                          ● &nbsp;콘택트렌즈를 착용했을 때 각막에 산소가 얼마나 잘 공급되는가는 눈 건강을 좌우하는 중요한 요소이다.<br/>
                          ● &nbsp;콘택트렌즈는 원데이 혹은 2주 착용으로 대표되는 정기교체 종류를 사용하는 것이 좋다.<br/>
                          ● &nbsp;콘택트렌즈 중 장기간 착용할 수 있는 병렌즈 종류는 사용하지 않는 것이 좋다.<br/><br/>
                          <a href="https://news.joins.com/article/3983363">자세한 내용</a>
                        </p>
                    </div>
                    <div data-role="collapsible">
                        <h3>콘택트렌즈 착용 기간이 길면 라식/라섹을 할 수 없을까?</h3>
                        <p>
                          <h5><b>Q. 콘택트렌즈 착용 기간이 길면 라식/라섹을 할 수 없을까?</b></h5>
                          ● &nbsp;콘택트렌즈를 오래 착용한다고 해서 라식/라섹이 불가능한 것은 아니다.<br/>
                          ● &nbsp;콘택트렌즈를 오래 착용하면 각막이 점점 얇아져서 수술이 불가능하다고 믿는 경우가 있다. 그러나, 각막두께는 유전의 영향을 많이 받는다.<br/> 
                          ● &nbsp;콘택트렌즈로 인해 눈의 상태가 건강하지 못하다면 라식/라섹이 불가능할 수도 있다.<br/>
                          ● &nbsp;콘택트렌즈로 인한 각막미란, 안구건조증이 오래 지속되면 각막에 상처가 나고 그곳으로 균이 들어가 감염될 수 있다.<br/>
                          ● &nbsp;감염성 각막염이 심해지면 각막혼탁, 시력감소가 생기기 때문에 라식/라섹을 받기 어려워질 수 있다.<br/><br/>
                          <a href="http://news.kmib.co.kr/article/view.asp?arcid=0009516884">자세한 내용</a>
                        </p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
          <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>
  </body>
</html>