<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>All about Contacts</title>

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../public/css/shop_map.css"/>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../public/js/info_log.js"></script>
  </head>

  <body onload="loadPage()">
    <!-- 홈 화면 -->
    <div data-role="page">
      <div data-role="panel" id="signin" data-display="overlay" data-theme="b">
        <form>
          <br/><br/><br/><br/>
          <h3><center>로그인</center></h3>
          <br/>
          <label for="name">아이디</label>
          <input name="name" id="name" type="text" value="" data-mini="true" data-clear-btn="true">
          <label for="password">비밀번호</label>
          <input name="password" id="password" type="password" value="" data-mini="true" data-clear-btn="true">
          <br/>
          <a href="#" data-role="button" data-rel="close">로그인</a>
          <a href="#signup" data-role="button">회원가입</a>
        </form>
      </div>
      <div data-role="panel" id="signup" data-display="overlay" data-theme="b" data-position="right">
        <form>
          <br/><br/><br/><br/>
          <h3>회원가입</h3>
          <br/>
          <label for="id">아이디</label>
          <input name="id" id="id" type="text" value="" data-mini="true" data-clear-btn="true">
          <label for="pwd">비밀번호</label>
          <input name="pwd" id="pwd" type="password" value="" data-mini="true" data-clear-btn="true">
          <br/>
          <a href="#" data-role="button" data-rel="close">회원가입</a>
        </form>
      </div>

      <div data-role="header" style="background-color: #d8f5a2;">
        <a href="#signin" data-role="button" data-inline="true">
          <img src="../public/img/menu-line.png" alt="로그인" style="width: 1.3em; height: 1.3em;">
        </a>
        <h1 style="font-size: large;"><b>렌즈의 모든 것</b></h1>
      </div>
      <br/><br/><br/><br/>
      <div data-role="content">
        <div class="container"> 
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="../public/img/acuve_oasis.jpg" alt="아큐브 오아시스" style="width:70%; margin: auto;">
              </div>
        
              <div class="item">
                <img src="../public/img/acuve_define.jpg" alt="아큐브 디파인" style="width:70%; margin: auto;">
              </div>
            
              <div class="item">
                <img src="../public/img/bausch_lomb_ultra.jpg" alt="바슈롬 울트라" style="width:70%; margin: auto;">
              </div>
            </div>
        
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <br/><br/><br/><br/>
        <div>
          <ul data-role="listview" data-inset="true">
            <li><a href="#shop">근처 판매처 검색</a></li>
            <li><a href="#event">이벤트 확인</a></li>
            <li><a href="#info">콘택트렌즈 A to Z</a></li>
          </ul>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>

    <!-- 근처 판매처 검색 화면 -->
    <div data-role="page" id="shop">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="./all_about_contacts.html" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>근처 판매처 검색</b></h1>
      </div>
      <br/><br/>
      <div data-role="content">
        <!-- map is not responsive yet -->
        <div class="map_wrap">
          <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
      
          <div id="menu_wrap" class="bg_white">
              <div class="option">
                  <div>
                      <form onsubmit="searchPlaces(); return false;">
                          키워드 : <input type="text" value="서울 안경점" id="keyword" size="15"> 
                          <button type="submit">검색하기</button>
                      </form>
                  </div>
              </div>
              <hr>
              <ul id="placesList"></ul>
              <div id="pagination"></div>
          </div>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
          <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>

    <!-- 이벤트 확인 화면 -->
    <div data-role="page" id="event">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="./all_about_contacts.html" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>이벤트 확인</b></h1>
      </div>
      <div data-role="content">
          <div data-role="tabs">
              <div data-role="navbar">
                  <ul>
                      <li><a href="#on">진행중인 이벤트</a></li>
                      <li><a href="#off">종료된 이벤트</a></li>
                  </ul>
              </div>
              <div id="on">
                  <br/><br/>
                  <h2><b>진행중인 이벤트</b></h2>
                  <br/>
                  <div data-role="collapsible">
                      <h3>우리동네안경원 30% 행사</h3>
                      <p>테스트</p>
                  </div>
                  <div data-role="collapsible">
                      <h3>렌즈미 '난시용' 렌즈 1+1</h3>
                      <p>테스트</p>
                  </div>
              </div>
              <div id="off">
                  <br/><br/>
                  <h2><b>종료된 이벤트</b></h2>
                  <br/>
                  <div data-role="collapsible">
                      <h3>우리동네안경원 40% 행사</h3>
                      <p>테스트</p>
                  </div>
                  <div data-role="collapsible">
                      <h3>렌즈미 바슈롬 렌즈 특가</h3>
                      <p>테스트</p>
                  </div>
              </div>
          </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
        <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>

    <!-- 콘택트렌즈 A to Z 화면 -->
    <div data-role="page" id="info">
      <div data-role="header" style="background-color: #d8f5a2;">
          <a href="./all_about_contacts.html" data-role="button" data-inline="true">
            <img src="../public/img/arrow-left-s-line.png" alt="이전" style="width: 1.3em; height: 1.3em;">
          </a>
          <h1 style="font-size: large;"><b>콘택트렌즈 A to Z</b></h1>
      </div>
      <div data-role="content">
          <div data-role="tabs">
              <div data-role="navbar">
                  <ul>
                      <li><a href="#record">교체시기 기록</a></li>
                      <li><a href="#check">교체시기 확인</a></li>
                      <li><a href="#faq">자주하는 질문</a></li>
                  </ul>
              </div>
              <div id="record">
                  <br/><br/>
                  <h2><b>교체시기 기록</b></h2>
                  <br/>
                  <fieldset data-role="controlgroup">
                      <legend>콘택트렌즈 제품</legend>
                      <input type="text" name="con_product" placeholder="ex. 아큐브 오아시스 원데이">
                  </fieldset>
                  <fieldset data-role="controlgroup">
                      <legend>콘택트렌즈 종류</legend>
                      <input type="radio" name="con_type" id="transparent" value="투명렌즈">
                      <label for="transparent">투명렌즈</label>
                      <input type="radio" name="con_type" id="colour" value="컬러렌즈">
                      <label for="colour">컬러렌즈</label>
                      <input type="radio" name="con_type" id="dream" value="드림렌즈">
                      <label for="dream">드림렌즈</label>
                  </fieldset>
                  <fieldset data-role="controlgroup">
                      <legend>시력교정 종류</legend>
                      <select name="opt_type" data-role="slider">
                        <option value="근시">근시</option>
                        <option value="난시">난시</option>
                      </select>
                  </fieldset>
                  <fieldset data-role="controlgroup">
                      <legend>콘택트렌즈 도수</legend>
                      <input type="range" name="con_num" value="0" min="-20" max="20" step="0.05">
                  </fieldset>
                  <fieldset data-role="controlgroup">
                      <legend>착용기간</legend>
                      <h6>시작</h6>
                      <input type="date" name="con_start">
                      <h6>종료</h6>
                      <input type="date" name="con_end">
                  </fieldset>
                  <input type="button" data-role="button" value="기록하기" onclick="saveRecord()">
              </div>
              <div id="check">
                  <br/><br/>
                  <h2><b>교체시기 확인</b></h2>
                  <br/>
                  <fieldset data-role="controlgroup">
                    <legend>콘택트렌즈 제품</legend>
                    <input type="text" name="con_product_chk" readonly>
                  </fieldset>
                  <fieldset data-role="controlgroup">
                      <legend>콘택트렌즈 종류</legend>
                      <input type="text" name="con_type_chk" readonly>
                  </fieldset>
                  <fieldset data-role="controlgroup">
                      <legend>시력교정 종류</legend>
                      <input type="text" name="opt_type_chk" readonly>
                  </fieldset>
                  <fieldset data-role="controlgroup">
                      <legend>콘택트렌즈 도수</legend>
                      <input type="text" name="con_num_chk" readonly>
                  </fieldset>
                  <fieldset data-role="controlgroup">
                      <legend>착용기간</legend>
                      <h6>시작</h6>
                      <input type="date" name="con_start_chk" readonly>
                      <h6>종료</h6>
                      <input type="date" name="con_end_chk" readonly>
                  </fieldset>
                  <input type="button" data-role="button" value="확인하기" onclick="loadRecord()">
              </div>
              <div id="faq">
                  <br/><br/>
                  <h2><b>자주하는 질문</b></h2>
                  <br/>
                  <div data-role="collapsible">
                      <h3>콘택트렌즈 관리는 어떻게 해야 할까?</h3>
                      <p>렌즈에 물이 닿지 않게 한다.</p>
                  </div>
                  <div data-role="collapsible">
                      <h3>콘택트렌즈는 10년만 낄 수 있을까?</h3>
                      <p>테스트</p>
                  </div>
                  <div data-role="collapsible">
                      <h3>콘택트렌즈 착용 기간이 길면 라식/라섹을 할 수 없을까?</h3>
                      <p>테스트</p>
                  </div>
              </div>
          </div>
      </div>
      <div data-role="footer" data-position="fixed" style="position: fixed;">
          <h4>201632230 컴퓨터공학과 이다은</h4>
      </div>
    </div>

    <!-- 카카오 지도 API -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2103ad1ef0cd5d2e5bb04b32be376517&libraries=services"></script>
    <script type="text/javascript" src="../public/js/shop_map.js"></script>
  </body>
</html>